@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bee-yellow: 255 215 0;
    --bee-black: 10 10 10;
  }
  
  body {
    @apply bg-bee-black text-white antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-bee-yellow to-yellow-200;
  }
}
